.sign-in-content {
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  padding: 2rem;
  margin: auto;
}

.sign-in-icon {
  font-size: 14px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
